<div class="alignCenter">
  <img class="imgBox" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ_umixnVplgh8Ivltsk9SG7v3fYbtl7QHH1w&usqp=CAU" alt="">
  <div class="box p-3 boldStyle">

      <h3>Create account</h3>
      <p><b>Your name</b></p>
      <input class="w-100" type="text">
      <p><b>Email</b></p>
      <input class="w-100" type="email">
      <p><b>Password</b></p>
      <input class="m-0 w-100" type="password">
      <p class="mb-2">Passwords must be at least 6 characters.</p>
      <p><b>Re-enter password</b></p>
      <input class="w-100 mb-3" type="password">
      <button class="w-100 mb-2" type="submit" >Create Your Amazon Account</button>
    
    <p>By creating an account, you agree to Amazon's Conditions of Use and Privacy Notice.</p>
    <hr>
    <p>Already have an account?<a href="" routerLink="/login">Sign-In</a></p>
  </div>
</div>
